.nav{
    grid-area: nv;
    background: #ffff29c7;
    padding: 20px;
}

.item a{
    color: lightblue;
    text-decoration: none;
}

.item a.active{
    color: mediumblue;
}

.friendsSidebar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.friendsItem{
    color: teal;
}